html, body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

#app {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    width: 60vw;
    max-height: 85vh;
    min-height: 200px;
    min-width: 500px;
    overflow-y: auto;
    overflow-x: hidden;

    box-shadow: 0 1px 2px 0 hsla(210, 6%, 14%, 0.15);
    border: 1px solid hsla(210, 6%, 14%, 0.15);
    border-radius: 5px;
    background: #fafafa;
    padding: 30px;
}

button {
    color: white;
    font-size: 1em;
    background-color: #7695B1;
    padding: 7px 20px 7px 20px;
    margin: 20px;

    border-width: 0;
    border-bottom-width: 3.5px;
    border-bottom-color: #81B9EA;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(118, 149, 177, 0.77);
    border-bottom-color: rgba(129, 185, 234, 0.58);
    padding: 7px 20px 6px 20px;
    border-bottom-width: 3px;
}

input {
    margin: 1em;
    padding: .6em;
    font-size: 1em;
    background: white;
    border: 1px solid #eee;
    border-radius: 5px;

    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

input:focus {
    outline: none;
    border-color: #81B9EA;
}

button {
    outline: none;
}

table, td {
    text-align: left;
    border: 1px solid #eee;
    font-weight: 100;
    font-size: 0.8rem;
}

th {
    text-align: center;
    font-weight: normal;
    border: 1px solid #eee;
}
