.listings {
    flex: 1;
}

.listing-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 15px;
    background-color: rgba(188, 202, 245, 0.24);
    border-radius: 2px;
    padding: 10px;
    border-left: 6px solid gray;
}

.error {
    color: #750B0B;
    padding: 35px;
    width: 80%;
    background-color: rgba(255, 0, 0, 0.18);
    border: 1px solid rgba(255, 0, 0, 0.18);
    border-radius: 5px;
}

.left-container {
    flex: 1;
    margin: 5px;

    color: green;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.original-price {
    color: black;
    font-size: 0.8rem;
    font-weight: 100;
}

.details-title {
    font-size: 0.8rem;
}

.center-container {
    flex: 2;
    margin: 5px;
    height: 100%;
}

.details {
    margin: 10px;
    margin-bottom: 0;
    background-color: #fafafa;
    padding: 20px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
}

.type {
    color: gray;
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
}

.home-image {
    width: 100%;
    margin-top: 5px;
    border-radius: 4px;
}

.right-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: dimgray;
}

.content {
    padding: 5px;
}

.remarks {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 150px;
    color: gray;
    font-weight: 100;
}

.listDate {
    color: gray;
    font-size: 0.7em;
    font-weight: 100;
    display: inline-block;
}

.status {
    margin-top: 5px;
    border-radius: 4px;
}

.address {
    font-size: 1.1vw;
}
